* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}

.navbar__brand {
    width: 100px;
    height: 100%;
}

.brand__logo {
    width: 200px;
    height: 100%;
}

/* .dropdown{
    min-width: 15rem;
    position: relative;
    margin: 2em;
}
.select{
    background:transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px transparent solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;

}
.select:hover {
background: black;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.language{
    list-style: none;
    padding: 0.2em 0.5em;
    background: transparent;
    border: 1px solid black;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #fff;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.language li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.active{
    background: black;
}
.language-open{
    display: block;
    opacity: 1;
} */
.dropdown__container {
    border: 1px solid white;
    padding: 0.6rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
}

.language__drop__down {
    background: black;
    border: none;
    color: white;
}

.language__drop__down:focus {
    outline: none;
}


.signin__button {
    background-color: #B41414;
    border: 1px solid #B41414;
    color: white;
    padding: 0.7rem;
    border-radius: 4px;
}

.navbar__nav__items {
    display: flex;
    gap: 10px;
}

.netflix-logo {
    width: 100%;
    height: 685px;
    position: relative;
    background: url("./img/banner.jpg") no-repeat center center/cover;
}

.netflix-logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 685px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 40px 30px 100px #000,
        inset -40px -30px 100px #000;
}

.netflix-header {
    position: relative;
    height: 92px;
    z-index: 2;
}

.netflix-header img {
    width: 170px;
    position: absolute;
    top: 0;
    left: 40px;
}

.netflix-header button {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    text-decoration: none;
}

.netflix-content {
    z-index: 2;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 30%;
}

.netflix-content h1 {
    font-weight: 600;
    font-size: 47px;
    line-height: 1.15;
    letter-spacing: 0.01px;
}

.p-top {
    font-weight: 400;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 1.1rem;
    letter-spacing: 0.02em;
}

.p-bot {
    font-size: 16.3px;
    letter-spacing: 0.02em;
    margin-bottom: 1.2rem;
}

.btn {
    display: inline-block;
    background: #B41414;
    color: #fff;
    padding: 7px 17px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    height: 32px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    letter-spacing: 0.4px;
}

.btn {
    transition: .7s;
}

button:hover {
    background-color: #fa2f33;
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 40px;
    top: 30px;
}

.get-started input {
    height: 58px;
    padding: 0 10px 0;
    width: 450px;
    font-size: 16px;
    outline: none;
    border-right: 1.5px solid rgb(105, 102, 102);
}

.get-started {
    position: relative;
    display: flex;
}

.gs {
    display: flex;

}

.get-started button {
    margin-right: 10px;
    font-size: 25px;
    height: 58px;
    background: #B41414;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 30px 0 30px;
}




hr {
    height: 5px;
    width: 100%;
    border: none;
    background: #222;
}

.kids .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    align-items: center;
    height: 520px;
    margin: auto 100px;
}

.left-part img {
    height: 380px;
    width: 520px;
    position: relative;
}

.right-part {
    max-width: 700px;
    width: 100%;
    padding-right: 10px;
    letter-spacing: 0.1px;
}

.right-part h1 {
    font-size: 47px;
    font-weight: 600;
}

.right-part p {
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
}

.enjoy {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    align-items: center;
    height: 480px;
    margin: auto 100px;
}

.enjoy-text {
    max-width: 700px;
    width: 100%;
    padding-right: 10px;
    letter-spacing: 0.1px;
}

.enjoy-text h1 {
    font-size: 47px;
    font-weight: 600;
}

.enjoy-text p {
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
}

.enjoy-img {
    position: relative;
}

.enjoy-img img {
    z-index: 1;
    height: 380px;
    width: 520px;
    position: relative;
}

.enjoy-video {
    position: absolute;
    bottom: 50px;
    left: 68px;
    z-index: -1;
}

.enjoy-video video {
    display: inline-block;
    vertical-align: baseline;
    width: 380px;
    height: 300px;
}

.download {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    align-items: center;
    height: 480px;
    margin: auto 50px;
}

.mobile {
    position: relative;
}

.mobile-img {
    height: 380px;
    width: 520px;
    position: relative;
}

.box {
    position: absolute;
    bottom: 30px;
    left: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 3px solid #222;
    border-radius: 14px;
    width: 350px;
    height: 100px;
    background: #000;
}

.box img {
    width: 50px;
    height: 70px;
}

.box h2 {
    padding-top: 13px;
    font-size: 16px;
    height: 25px;
}

.box p {
    font-size: 14px;
    color: #0071eb;
    margin-top: 10px;
}

.box .gif {
    width: 60px;
    height: 60px;
}

.download-content {
    max-width: 700px;
    width: 100%;
    padding-right: 10px;
    letter-spacing: 0.1px;
}

.download-content h1 {
    font-size: 47px;
    font-weight: 600;
    line-height: 50px;
}

.download-content p {
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
}

.stream {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    align-items: center;
    height: 480px;
    margin: auto 100px;
}

.stream-content h1 {
    font-size: 47px;
    font-weight: 600;
    line-height: 50px;
}

.stream-content p {
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
}

.mac {
    position: relative;
}

.mac .tv-mac {
    z-index: 1;
    z-index: 1;
    height: 380px;
    width: 520px;
    position: relative;
}

.tv-2 {
    position: absolute;
    bottom: 60px;
    right: 102px;
    z-index: -1;
}

.tv-2 video {
    vertical-align: baseline;
    width: 320px;
    height: 400px;
}

.freq {
    padding: 70px 100px;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.freq h1 {
    text-align: center;
    font-size: 47px;
    font-weight: 600;
    margin-bottom: 50px;
}

.freq .questions button {
    width: 625px;
    text-align: left;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    background: #303030;
    outline: none;
    border: none;
    color: #fff;
}

.questions button span {
    float: right;
    font-size: 40px;
    cursor: pointer;
}

.faq-answer {
    width: 625px;
    height: auto;
    padding: 30px 40px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -8px;
    color: #fff;
    background: #303030;
    text-align: left;
}

.freq .questions .faq-answer span {
    transform: scaleY(1.2);
    letter-spacing: 0.06em;
}

.closed {
    display: none !important;
}

.rotate {
    transform: rotate(45deg);
}

.sec {
    display: flex;
    justify-content: center;
}

.par-b {
    text-align: center;
    font-size: 16.3px;
    letter-spacing: 0.02em;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}

.field {
    text-align: center;
    margin-bottom: 75px;
}

input {
    border: none;
}

.footer {
    max-width: 85%;
    margin: 70px 200px;
}

.footer a {
    color: #888;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin-bottom: 2rem;
}

.footer-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    padding-top: 20px;
}

.footer li {
    line-height: 1.9;
    list-style: none;
    margin-bottom: 8px;
    font-size: 12px;
}

.last {
    margin-top: 30px;
}

.last .dropdown__container {
    width: 13%;

    padding: 13px;
}

.last p {
    margin-top: 30px;
    font-size: 14px;
}

.btn-icon {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.bottom-logo {
    width: 20%;

}

@media screen and (min-width: 1024px) {
    .navbar {
        padding: 2% 5%;
    }

    .navbar__brand {
        width: 150px;
    }

    .signin__button {
        padding: 10px 20px;
        font-size: 18px;
    }

    .netflix-content h1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .get-started {
        width: 50%;
    }

    .get-started form {
        flex-direction: row;
        align-items: center;
        gap: 1px;
    }

    .gs button {
        height: 50px;
    }

    .enjoy-tex,
    .mobile,
    .stream-content,
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (min-width: 1254px) {}

@media screen and (max-width: 481px) {
    .signin__button {
        padding: 0.6rem 0.6rem;
    }

    .navbar__brand {
        width: 100px;
    }

    .brand__logo {
        width: 100px;
    }
}